{% extends 'base.html' %}

{% block title %}Destaques - Ministeam{% endblock %}

{% block content %}
<h1>Destaques e Recomendações</h1>
<div class="game-grid">
    {% for id, game in games.items() %}
    <div class="game-card">
        <img src="{{ url_for('static', filename='images/jogo' ~ game.id ~ '.jpg') }}" alt="{{ game.name }}">
        <div class="game-info">
            <h3>{{ game.name }}</h3>
            <div class="price-action">
                <span class="price">R$ {{ "%.2f"|format(game.price) }}</span>
                <a href="{{ url_for('game', game_id=id) }}" class="btn-blue">Ver Detalhes</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}